* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
}

.create_btn {
    width: "40px"; 
    height: "40px"; 
    border-radius: "50%";
}

.reminders_text {
    width: 70%;
}

.reminders_date {
    width: 20%;
}

.reminders_mod {
    width: 10%;
}

/* WORKOUTS */

.workout_main_div {
    max-height: 100dvh;
}

.content_divs {
    overflow-y: auto;
    min-height: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.workout_contents {
    flex: 1;
    min-height: 0;
}

.main_square {
    width: 50%;
    aspect-ratio: 1/1;

    border: 2px solid lightgray;
    border-radius: 15px;

    padding: 10px;
    margin-top: 15px;

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 10px;
}

.sub_squares {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}

/* Layout Pages */

/* First Layout */

.first_header {
    height: 8vh;
}